

<div class="container grey-background">
	<div class="row">
	    <div class="column">
				<div class="card ">
					<div class="card-body text-center">
							<img class="card-img-top img-fluid" src="">

							<h3 class="card-title coloredTxtNoHover">Γιώργος Κίτσος</h3>
							<p class="card-text coloredTxtNoHover">el04768
							</p>
					</div>
				</div>
        </div>
       <div class="column">
	        <div class="card">
				<div class="card-body text-center">
						<img class="card-img-top img-fluid" src="">

						<h3 class="card-title coloredTxtNoHover">Μιχάλης Στρατάκης</h3>
						<p class="card-text coloredTxtNoHover">el17503</p>
				</div>
	       </div>
      </div>
   </div>
</div>