
	<div class="modal-header">
        <img src="../assets/images/intelliq_logo_initial.png" alt="" style="margin:auto">
		<!-- <h4 class="modal-title" id="modal-basic-title">IntelliQ!</h4> -->
		<div class="size-info" *ngIf="showQuestionnaire;else sessionAnswers">
			<div class="size-header">Το ερωτηματολόγιο αποθκεύτηκε με επιτυχία!</div>
			<div class="size-header-url">{{url}}</div>
		</div>
   
		<ng-template #sessionAnswers>
				<div class="size-info">
					<div class="size-header">Οι απαντήσεις σας αποθηκεύτηκαν με επιτυχία!</div>
				</div>
	    </ng-template>
       
		<button type="button" class="btn-close" aria-label="Close" (click)="closeDialog()"></button>
	</div>
