
<div class="container h-100">
  <div class="d-flex justify-content-center">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="../../assets/images/emp_image.png" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text" style="width: 40px"><i class="fa fa-user"></i>Όνομα Χρήστη</span>
            </div>
            <input type="text" class="form-control input_user" formControlName="username" placeholder="Όνομα Χρήστη" (ngModelChange)="onInputChange()">
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text" style="width: 40px"><i class="fa fa-key"></i>Κωδικός</span>
            </div>
            <input type="password" class="form-control input_pass" formControlName="password" placeholder="Κωδικός" (ngModelChange)="onInputChange()">
          </div>
          <div *ngIf="errMsgUsernameShow" class="error-msg">{{errMsgUsername}}</div>
          <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn login_btn">Σύνδεση</button>
          </div>
        </form>
      </div>
      
      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Δεν έχετε λογαριασμό;<a href="#" [routerLink]="['/register']" class="link ml-2">Εγγραφείτε τώρα!</a>
        </div>
      </div>
    </div>
  </div>
</div>
