

<div class="container mt-5">
  
  <div class="row">

    
  </div>



   <div class="row">

    <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="demo1TabIndex">

        <mat-tab label="Ερωτήσεις">
            
            <form [formGroup]="questionnaire" (ngSubmit)="onSubmit()">
            
               
             
                <div class="load_file">
                    <mat-form-field>
                      <input formControlName="questionnaireTitle" ngDefaultControl matInput placeholder="Ονομα Ερωτηματολογιου"> 
                    </mat-form-field>
                      <div>
                        <input type="file" name="questionnaire" (change)="onFileSelect($event)" />
                      </div>
                      <div>
                        <button (click)="onUpload()">Upload</button>
                      </div>
                 </div>
                
           

                      <ng-container formArrayName="questions">

                                          <div [formGroupName]="j" *ngFor="let ques of questions()?.controls;let j=index;" class="submitted-info">          
                                          <div class="question-view">
                                                <mat-form-field>
                                                  <input formControlName="qtext" ngDefaultControl matInput placeholder="Ερώτηση"> 
                                                </mat-form-field>
                                                <div class="more-actions">
                                                  <div (click)="addQuestion()">
                                                      <svg class="svg-circleplus" viewBox="0 0 100 100">
                                                        <circle cx="50" cy="50" r="45" fill="none" stroke-width="7.5"></circle>
                                                        <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
                                                        <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
                                                      </svg>     
                                                  </div>  
                  
                                                  <div (click)="removeQuestion(j)" class="action-icon">
                                                    <svg id="delete" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="display: block; margin: auto;" width="30" height="30"><title>delete</title><rect id="_delete_" data-name="<delete>" width="24" height="24" transform="translate(24 24) rotate(180)" style="fill:none"></rect><path id="_delete_2" data-name="<delete>" d="M17.999,6.00049H15.53516L13.832,3.4458A1.00028,1.00028,0,0,0,13,3.00049H11a.999.999,0,0,0-.832.44531L8.4657,6.00049H6.001a1,1,0,0,0,0,2h.07946L7,18.99951a2.00229,2.00229,0,0,0,2,2h6a1.9809,1.9809,0,0,0,1.99609-1.917l.92279-11.082H17.999a1,1,0,1,0,0-2Zm-6.46386-1h.92968l.66669,1H10.8689ZM15,18.99951l-6.00342-.083-.90942-10.916h7.826Z"></path></svg>
                                                  </div>
                                              

                                                </div>
                                            </div>
                                            
                                            <ng-container formArrayName="options">
                                            
                                              <div [formGroupName]="k" *ngFor="let ans of ques.get('options').controls;let k=index;">
                                                <div class="answers-view">
                                                  <div class="more-actions">

                                                    <mat-radio-button class="" [value]="row" 
                                                     (change)="radioChange($event,row)" 
                                                     [checked]="false"> 
                                                      <input formControlName="opttxt" ngDefaultControl matInput placeholder="Απάντηση"> 
                                                    </mat-radio-button>
                                                    <!-- <button class="btn btn-primary btn-lg mb-3" (click)="addAnswer(ques)"> <span class="glyphicon glyphicon-plus"></span>+</button>   -->
                                                      <div (click)="addAnswer(ques)">
                                                          <svg class="svg-circleplus" viewBox="0 0 100 100">
                                                            <circle cx="50" cy="50" r="45" fill="none" stroke-width="7.5"></circle>
                                                            <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
                                                            <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
                                                          </svg>     
                                                      </div>  
                                                      <div (click)="removeAnswer(ques,k)" class="action-icon">
                                                        <svg id="delete" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="display: block; margin: auto;" width="30" height="30"><title>delete</title><rect id="_delete_" data-name="<delete>" width="24" height="24" transform="translate(24 24) rotate(180)" style="fill:none"></rect><path id="_delete_2" data-name="<delete>" d="M17.999,6.00049H15.53516L13.832,3.4458A1.00028,1.00028,0,0,0,13,3.00049H11a.999.999,0,0,0-.832.44531L8.4657,6.00049H6.001a1,1,0,0,0,0,2h.07946L7,18.99951a2.00229,2.00229,0,0,0,2,2h6a1.9809,1.9809,0,0,0,1.99609-1.917l.92279-11.082H17.999a1,1,0,1,0,0-2Zm-6.46386-1h.92968l.66669,1H10.8689ZM15,18.99951l-6.00342-.083-.90942-10.916h7.826Z"></path></svg>
                                                      </div>
                                                     
                                                    
                                                      <mat-form-field appearance="fill">
                                                        <mat-label>Go to Next Question</mat-label>
                                                        <mat-select (selectionChange)="onChange($event)" formControlName="nextqID">
                                                          <mat-option *ngFor="let item of getFilterQuestions(j)" [value]="item.value" >
                                                            {{item.viewValue}}
                                                          </mat-option>
                                                        </mat-select>
                                                      </mat-form-field>
                                                      
                                            



                                                  </div>
                                              </div>
                                            </div>
                                            </ng-container> 
                                         </div>  
                      </ng-container>
                
                <br>
                <br>  
                <div style="display: flex;justify-content: center;">
                <input type="submit" class="btn btn-primary btn-lg bg-dg mt-5">
               
              </div>
              </form>
                <br>  
              <div class="json-class"> {{questionnaire.value | json}}</div>
               

        </mat-tab>

        <mat-tab label="Εμφάνιση">

        

            <!---Survey-->


            <mat-toolbar color="primary"> Survey - {{selectedSurveyName}}</mat-toolbar>

            <form #surveyForm="ngForm">
            <mat-card class="example-card" *ngFor="let question of getQuestion(stepNum);let i = index;">
              <mat-card-header>
                <mat-card-title>{{question.value.qtext}}</mat-card-title>
                <mat-card-subtitle>Answer the following answers</mat-card-subtitle>
              </mat-card-header>

                  <mat-radio-group>
                  <div class="answer" *ngFor="let y of question.value.options; let k = index">
                  
                      <mat-radio-button color="primary" [value]="y.opttxt" [checked]="y.optvalue" (change)="answerChange(stepNum-1,k)">
                        {{y.opttxt}}
                      </mat-radio-button>
                   
                  </div>
                </mat-radio-group>

                
            


              <mat-card-actions>
                <button class="btn btn-info" *ngIf="!isFirst()" mat-button (click)="goPrev()" [disabled]="">PREVIOUS</button>
                <button class="btn btn-success"  style="float:right;" *ngIf="(isLast());else nextBtn">SUBMIT</button>
                <ng-template #nextBtn>
                  <button class="btn next-btn" mat-button style="float:right;" (click)="goNext()">NEXT</button>
                </ng-template>
              </mat-card-actions>

              <!-- <app-footer [index]="i" [total]="questions.length"></app-footer> -->
            </mat-card>
            </form>
            
            <!--End-->




        </mat-tab>
    
    </mat-tab-group>
      
   </div>
</div>
