
<div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
        <div class="d-flex justify-content-center">
          <div class="brand_logo_container">
            <img src="../../assets/images/emp_image.png" class="brand_logo" alt="Logo">
          </div>
        </div>
        <div class="d-flex justify-content-center form_container">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-4">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-user"></i>Όνομα Χρήστη</span>
              </div>
              <input type="text" class="form-control input_user" formControlName="username" placeholder="Όνομα Χρήστη">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-key"></i>Κωδικός</span>
              </div>
              <input type="password" class="form-control input_pass" formControlName="password1" placeholder="Κωδικός">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-key"></i>Ξαναγράψε τον κωδικό</span>
              </div>
              <input type="password" class="form-control input_pass" formControlName="password2" placeholder="Ξαναγράψε τον κωδικό" [ngClass]="{ 'is-invalid': password2.invalid && (password2.dirty || password2.touched) }" (ngModelChange)="checkPasswordMatchConfirm()">
              <div *ngIf="password2.invalid && (password2.dirty || password2.touched)"    class="invalid-feedback" >
                <!-- <div *ngIf="password2.errors.name">
                  <p>Οι κωδικοί δεν ταιριάζουν</p>
                </div> -->
              </div> 
            </div>
            <div *ngIf="!isPasswordConfirmed" class="error-msg">{{errMsgPasswordMatch}}</div>
            <div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" formControlName="role" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Διαχειριστής</label>
							</div>
						</div>
            <div class="d-flex justify-content-center mt-3 login_container">
              <button type="submit" class="btn login_btn" [disabled]="!validationButton()">Εγγραφή</button>
            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>
